version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "3001:3001"
    env_file:
      - server/.env

  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server
    env_file:
      - client/.env